
:root {
  --neutral-900: #0a1128;  
  --neutral-800: #1e232e;  
  --neutral-700: #2a3040;  
  --neutral-600: #4d5264;  
  --neutral-300: #c7c7c7;  
  --neutral-200: #d8e4f7;  
  --neutral-100: #ededed;  
  --neutral-0: #f2f9fd;  
  --red-400: #f06a6a;  
  --red-500: #e04747;  
  --red-700: #c52626;  
  --margin-left: 80px;
  --margin-right: 80px;
}

.light{
  background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --neutral-900: #0a1128;  
  --neutral-800: #f2f9fd;  
  --neutral-700: #2a3040;  
  --neutral-600: #c7c7c7;  
  --neutral-300: #4d5264;  
  --neutral-200: #d8e4f7;  
  --neutral-100: #ededed;  
  --neutral-0: #1e232e;  
  --red-400: #f06a6a;  
  --red-500: #e04747;  
  --red-700: #c52626;  
  --margin-left: 80px;
  --margin-right: 80px;

}

 body {
    width: 100vw;
    height: 100%;
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    margin: 0;
    display: column;
    font-family: "Noto Sans";
 }

 body > * {
  margin-left:var(--margin-left) ;
  margin-right: var(--margin-right);
 }

 #mode {
  background-color: var(--neutral-800);
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10px;
 }

 .light > #mode {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
 }

 #theme-switch {
  display: flex;
  align-items: center;
 }

 #theme-switch img {
  background-color: var(--neutral-700);
  padding: 10px;
  border-radius: 10px;
 }

 #theme-switch img:first-child {
  display: none;
 }

 .light #theme-switch img:last-child {
  display: none;
 }

 .light #theme-switch img:first-child {
  display: block;
  background-color: var(--neutral-200);
 }

 .menu {
  color: var(--neutral-0);
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .menu button {
  background-color: var(--neutral-800);
  padding: 7px 14px;
  margin: 3px;
  border-radius: 20px;
  border: none;
  color: var(--neutral-0);
 }

 .light > .menu button:hover {
  color: var(--neutral-800);
  background-color: var(--red-700);
 }

 .menu button:hover {
  background-color: var(--red-500);
  color: var(--neutral-900);
  cursor: pointer;
 }

 .core {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 }

 .card {
  background-color: var(--neutral-800);
  width: 420px;
  height: 255px;
  border-radius: 15px;
  display: flex;;
  padding: 20px 10px 10px 20px;
  box-sizing: border-box;
  position: relative;
 }

 .light .card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
 }
 
 .card > img {
   padding: 0;
    margin: 0;
    height: fit-content;
 }

 .content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: fit-content;
  color: white;
 }

 .content > h3 {
  margin: 0;
  padding-bottom: 10px;
  color: var(--neutral-0);
 }

 .content > p {
    margin: 0;
    font-size: 16px;
    color: var(--neutral-300);
 }

 button, label {
  margin-top: auto;
 }

 .card > button {
  align-self: flex-start;
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: transparent;
  padding: 7px 10px;
  border-radius: 15px;
  color: var(--neutral-200);
  border: var(--neutral-600) 1px solid;
 }

 .light .card > button{
  background-color: transparent;
  color: var(--neutral-700);
  border: var(--neutral-700) 1px solid;
 }

 .card > .switch {
  align-self: flex-end;
  margin-left: auto;
 }

 .switch {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 60px;
  height: 20px;
 }

 .switch input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
 }

 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--neutral-600);
  transition: 0.2s;
  border-radius: 20px;
  width: 35px;
  height: 20px;
 }

 .slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left:2px;
  bottom: 2px;
  background-color: var(--neutral-0);
  transition: 0.2s;
  border-radius: 50%;
}

.light .slider::before {
  background-color: var(--neutral-100);
}

input:checked + .slider {
  background-color: var(--red-500);
}

.light input:checked + .slider {
  background-color: var(--red-700);
}

input:checked + .slider::before {
  transform: translateX(16px);
}

 